#menu
{
	position: fixed;
	width: 98%;
	height: 40px;
	background: rgb(245, 180, 180);
	text-align: center;
	font-size:x-large;
	padding: 5px;
	border-radius: 20px;
	top: 0px;
}

.mainMenu {
	white-space:nowrap;
}
.mainMenu li {
	display: inline;
	padding: 20px;
}

.mainMenu a{
	font-style: italic;
	font-weight: bold;
	font-family:Georgia, 'Times New Roman', Times, serif;
	text-decoration: none;
	color: black;
	padding: 13px;

}
.mainMenu a:hover{
	background-color: rgb(245, 218, 218);
	color: black;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 20px;
}

h3 {
	background-color: rgb(245, 180, 180);
	text-align: center;
	font-size:xx-large;
	font-style: italic;
	font-weight: bold;
	font-family:Georgia, 'Times New Roman', Times, serif;
	color: black;
	border-radius: 30px; 
	margin: 15px 0 15px; 
}

.section{
	text-align: center;
	background-color: lightcyan;
	width: 104%;
}

.about, .like {
	text-align: center;
	font-size: x-large;
	font-weight: 500;
	font-style: oblique;
}

.contact {
	box-sizing:border-box;
	font-size: x-large;
	font-weight: 650;
	border-radius: 5px;
	padding: 20px;
}

input[type=text], textarea {
	width: 50%;
	display: inline-block;
	box-sizing: border-box;
	border: 4px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	font-size: large;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: wheat;
	font-weight: bolder;
	color: crimson; /* to change! color of the text in the boxes*/
}

input[type=submit] {
	width: 15%;
	background-color: black;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: white;
	border: none;
	margin: 5px 0;
	padding: 10px;

	
}

.QRcode{
	zoom: 65%;
}
